.flex-container {
  max-width: 1300px;
  max-height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: left;
}

.flex-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 200%;
  width: 300px;
  height: 150px;
  border: 0.5px solid #c3c3c3;
}

.box1 {
  background-color: rgb(255, 216, 19);
  color: white;
}

.box2 {
  background-color: rgb(142, 191, 255);
  color: white;
}

.box3 {
  background-color: red;
  color: white;
}

.box4 {
  background-color: rgb(255, 216, 19);
  color: white;
}

.box5 {
  background-color: rgb(142, 191, 255);
  color: white;
}

.box6 {
  background-color: red;
  color: white;
}

.box7 {
  background-color: rgb(255, 216, 19);
  color: white;
}

.box8 {
  background-color: rgb(12, 210, 12);
  color: white;
}

.box9 {
  background-color: rgb(142, 191, 255);
  color: white;
}

.box10 {
  background-color: rgb(255, 216, 19);
  color: white;
}

.box11 {
  background-color: rgb(12, 210, 12);
  color: white;
}

.box12 {
  background-color: red;
  color: white;
}

.box13 {
  background-color: rgb(12, 210, 12);
  color: white;
}

.box14 {
  background-color: rgb(142, 191, 255);
  color: white;
}
